<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/css/templatemo-style.css">
    <link rel="stylesheet" href="/css/login.css">
    <script defer src="/js/login.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <style type="text/css">

    </style>


</head>
<body>

<a class="navbar-brand" href="#">
    <i class="fas fa-film mr-2"></i>
    Catalog
</a>
<main class="main">
    <section class="home">
        <h1>Welcome to the
            <span><i class="fas fa-film mr-auto"></i>AI Picture World</span></h1>
        <button id="sign-up" class="btn">Sign Up</button>
        <button id="sign-in" class="btn">Sign In</button>
        <p><a class="link-copy" href="#" target="_blank">©Copyright 2020</a>
        </p>
    </section>

    <section class="sign-up">
        <article class="signup-left">
            <h1>Catalog</h1>
            <div class="wc_message">
                <h3>AI Picture World에 오신 것을 환영합니다.</h3>
                <p>쉽고 빠르게 회원 가입이 가능합니다.</p>
            </div>
            <div class="btn-back">
                <i class="fas fa-2x fa-angle-left angle-left-color"></i>
                <!--<a href="/test">HOME</a>-->
                <span>BACK</span>

                <a href="/test" style="display: block">
                    <i class="fas fa-2x fa-angle-left angle-left-color"></i>
                    <span>HOME</span>
                </a>
            </div>

        </article>

        <article class="form-area">
            <!-- Form area Sign Up -->
            <div class="organize-form form-area-signup">
                <h2>SIGN UP</h2>
                <form class="form">
                    <div class="form-field">
                        <label for="userId">이름/Name</label>
                        <input type="text" id="userId"/>
                    </div>

                    <div class="form-field">
                        <label for="email">이메일/Email</label>
                        <input type="email" id="email"/>
                    </div>

                    <div class="form-field">
                        <label for="password">비밀번호/Password</label>
                        <input type="password" id="password"/>
                    </div>

                    <button type="button" class="btn-sign btn-up" id="btn-sign">Sign Up</button>
                </form>
                <p>Have an account? <a href="#" class="link-in">Sign In</a></p>

            </div>

            <!-- Form area Sign In -->
            <div class="organize-form form-area-signin">
                <h2>SIGN IN</h2>
                <form class="form">
                    <div class="form-field">
                        <label for="email-in">Email</label>
                        <input type="text" name="email_in" id="email-in"/>
                    </div>

                    <div class="form-field">
                        <label for="password-in">Password</label>
                        <input type="text" name="password_in" id="password-in"/>
                    </div>

                    <button class="btn-sign btn-in">Sign In</button>
                </form>
                <p>Haven't an account? <a href="#" class="link-up">Sign Up</a></p>
            </div>
        </article>

        <article class="signup-right">
            <i class="fas fa-2x fa-bars bars-style"></i>
            <p><span>©Copyright
                2020</span></p>

        </article>
    </section>
</main>


<script th:inline="javascript">

    let btnSign = document.querySelector('#btn-sign');

    btnSign.addEventListener('click', function(event){

        let userId = document.querySelector('#userId').value;
        let userEmail = document.querySelector('#email').value;
        let userPassWord = document.querySelector('#password').value;

        let userDto = {
            id:userId,
            email:userEmail,
            password:userPassWord
        }

        console.log("??");
        $.ajax({
            url: "/userSignIn",
            type: 'Post',
            data:userDto,
            success: function(data){
                console.log(data);
                if(data == "success") {
                    alert("회원가입이 완료되었습니다. 메인 페이지로 이동합니다.");
                    location.replace("/main");
                }else if(data == "errorCode(1)"){
                    alert("아이디를 등록하는데 문제가 발생하였습니다.");
                }else if(data == "errorCode(2)"){
                    alert("아이디가 중복되었습니다.");
                }
            },
            error: function () {
                alert("회원가입에 문제가 발생하였습니다.");
            }
        })

    });



</script>


</body>

</html>